<tr>
    <td>{{ t.date }}</td>
    <td>{{ t.type }}</td>
    <td>{{ t.description }}</td>
    <td class="{{ t.amount < 0 ? 'negative' : 'positive' }}">
        {{ t.amount }} €
    </td>
</tr>
