{% extends 'base.html.twig' %}

{% block body %}
<h1>Commande confirmée</h1>

<div class="mdo-card">
    <p>Votre commande #{{ order.id }} a été créée avec succès.</p>

    <h3>Détails :</h3>
    <ul>
        {% for item in order.orderItems %}
            <li>
                {{ item.product.name }} — {{ item.quantity }} × {{ item.unitPrice }} €
            </li>
        {% endfor %}
    </ul>

    <a class="mdo-btn" href="{{ path('product_list') }}">Retour au Centre d’Achat</a>
    <a class="mdo-btn" href="{{ path('order_pay', {id: order.id}) }}">
    Payer maintenant
    <a class="mdo-btn" href="{{ path('stripe_checkout', {id: order.id}) }}">
    Payer avec Stripe
</a>

</div>
{% endblock %}
