{% extends 'layout/layout.html.twig' %}

{% block title %}Profil — MIDDO{% endblock %}
{% block page_title %}Mon Profil{% endblock %}

{% block content %}

<div class="card">
    <h2>Informations du profil</h2>

    {{ form_start(form) }}

        <div class="form-group">
            {{ form_label(form.username) }}
            {{ form_widget(form.username) }}
        </div>

        <div class="form-group">
            {{ form_label(form.email) }}
            {{ form_widget(form.email) }}
        </div>

        <button class="btn primary">Mettre à jour</button>

    {{ form_end(form) }}
</div>

{% endblock %}
